{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}
	SignIn
{% endblock %}

{% block content %}
	<div class="vh-100 d-flex align-items-center justify-content-center">
    <div class="row justify-content-center w-100">
        {% include 'alert.html' %}
        <div class="cl-sm-4">
            <form action=" "method ="post" class="shadow px-3 py-4">
                {% csrf_token %}
                {{ form | crispy }}
                <button class="btn btn-dark rounded-0 w-100" >Sign In</button>
            </form>
        </div>
    </div>
    </div>
{% endblock %}